<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
      font-family: Arial;
      color: white;
    }
    
    .split {
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
    }
    
    .left {
      left: 0;
      background-color: white;
    }
    
    .right {
      right: 0;
      background-color: darkgrey;
    }
    
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .centered img {
      width: 150px;
      border-radius: 50%;
    }
    </style>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
 
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:3000">Home</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/About">About</a></li>
        <li><a href="/LogIn">Log In</a></li>
        </ul>
    </div>
</div>
 
<div class="container">