<div class="split left">
    <div class="centered">
        <form action="/">
            <label for="id">
                ID
            </label><br>
            <input type="text" id="id" name="id"><br>
            <label for="title">
                Title
            </label><br>
            <input type="text" id="title" name="title"><br>
            <label for="subtitle">
                Subtitle
            </label><br>
            <input type="text" id="subtitle" name="subtitle"><br>
            <label for="name">
                Name
            </label><br>
            <input type="text" id="name" name="name"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>