<%- include ("_header.ejs"); %>
 
    <h1>Welcome to my page use Node.js</h1>

    <form>
        <label for="id">
            ID
        </label><br>
        <input type="text" id="id" name="id" value="1511619"><br>
        <label for="name">
            Name
        </label><br>
        <input type="text" id="name" name="name" value="2"><br><br>
        <input type="submit" value="Submit">
    </form>
 
<%- include ("_footer.ejs"); %> 